<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/CSS.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/git.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="45"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/angular.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/java.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/node.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/mysql.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/Typescript.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/eng.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/Iconos/grupal.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
</div>