<div class="container-fluid">
    <div id="boton">
        <a class="btn btn-outline-light" data-bs-toggle="offcanvas" href="#login" role="button"
            aria-controls="offcanvasExample">
            Login
        </a>
    </div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="login" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
</div>