.row{
    padding: 20px;
}

@media (min-width: 576px) { 
    #foto{
        position: relative;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: -60%;
    }
}
@media (max-width: 575px) { 
    #foto{
        position: relative;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        width: 50%;
        left: 25%;
        top: -20%;
    }
}

img{
    width: 100px;
    border-radius: 100;

}

#nombre{
    font-weight: bold;
    margin-top: 20px;
}

div{
    background-color: #a1b5cb;
}