<div class="row">
    <h1>Educación</h1>
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <ul>
            <li>
                <h3>Estudio 1</h3>  
                <h5 class="text-muted"> - (años)</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus minus nostrum fugiat quis nemo
                    illum maiores totam expedita ex amet sed in, dolor, perspiciatis tenetur omnis veritatis doloribus
                    obcaecati. Eos.</p>
            </li>
            <li>
                <h3>Estudio 2</h3>
                <h5 class="text-muted"> - (años)</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus minus nostrum fugiat quis nemo
                    illum maiores totam expedita ex amet sed in, dolor, perspiciatis tenetur omnis veritatis doloribus
                    obcaecati. Eos.</p>
            </li>
            <li>
                <h3>Estudio 3</h3>
                <h5 class="text-muted"> - (años)</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus minus nostrum fugiat quis nemo
                    illum maiores totam expedita ex amet sed in, dolor, perspiciatis tenetur omnis veritatis doloribus
                    obcaecati. Eos.</p>
            </li>
        </ul>
    </div>
</div>